{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashbordController!{% endblock %}

{% block content %}
<h1 class="text-center">Modification of user ✅</h1>
{% if app.flashes('success') %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="flex items-center justify-center p-12">
    <div class="max-w-md mt-5">
        {{ form(form) }}
    </div>
</div>

{% endblock %}
